<html>

    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
        <script text="text/script" src="/js/creators.js"></script>
    </head>

    <body>

		<!-- First -->
        <section id="first" class="fullpage">

            <header class="page_header">
                <h1> Step 1: submit file hash </h1>
            </header>

            <div class="page_content">
                <!--
                <button onclick="getUserInfo()"> getUserInfo </button><br>
                <p></p>
                -->

                File Hash:
                <input id="fileHash" type="text" placefoder="0x123">
                <button onclick="uploadFileHash()"> submit </button>
                <p></p>

                <button onclick="checkTHash()"> checkTHash </button>
            </div>

            <footer class="page_footer">
                <a onclick="gotoStep2();">go to step2</a>
            </footer>

        </section>

		<!-- Second -->
        <section id="second" class="fullpage">

            <header class="page_header">
                <h1> Step 2: upload file </h1>
            </header>

            <div class="page_content">
                Choose a file: <br />
                <form action="./file_upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="stream">
                    <input type="button" data-inline="true" value="Input" id="filesubmit" onclick="uploadfile()">
                </form>
            </div>

            <footer class="page_footer">
                <a href="#third">go to step3</a>
            </footer>

        </section>

		<!-- Third -->
        <section id="third" class="fullpage">

            <header class="page_header">
                <h1> step3 </h1>
            </header>

            <div class="page_content">
                <button onclick="createContract()"> createContract </button>
                <button onclick="getLatestContract()"> getLatestContract </button>
            </div>

            <footer class="page_footer">
                <a href="#third">go to step3</a>
            </footer>

        </section>

        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/PFCCTR.js"></script>
        <script src="/js/Utility.js"></script>
        <script src="/MAKA/MAKA.js"></script>
        <script src="/MAKA/doMAKA.js"></script>
        <script src="/MAKA/loadCard.js"></script>
        <script src="/MAKA/usage.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/uploadFile.js"></script>
    </body>

</html>