<!DOCTYPE html>
<html lang="en">
	<html>
		
		<head>
			
			<!-- HTML meta 設定 -->
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>首頁</title>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="google-site-verification" content="" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="/css/bootstrap.min.css">
			<link rel="stylesheet" href="/css/style.css">
			<script src="/js/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script text="text/script" src="/js/index.js"></script>
			<script> 
				$(function(){
				  $("#includedContent").load("topBar.html",function(data){
						let k = document.getElementById("prevBar");
						k.innerHTML = k.innerHTML +"<div class='dropdown'><div class='dropbtn navi_wrap_button gray'>menu<i class='fa fa-caret-down'></i></div><div class='dropdown-content'><a href='#about'>關於網站</a><a href='#user-register'>使用者註冊</a><a href='#Buyer'>買家使用</a><a href='#Creator'>創作者上傳</a></div></div>"
						
					});
				});
			</script> 
			
		</head>
		
		<body>
			<div id="includedContent"></div>
			<!-- main contain -->
			<div class="navi-background">
				<div class="container text-center index-container">
					<div class="index-header" style="font-family:Microsoft JhengHei;">創作內容平台</div>
					<div class="index-sub-header">find your inspiration here</div>
					<!-- Search bar-->
					<div class="index-search">
						<input class="search-icon" type="image" src="images/search-icon.png"  alt="send" name="Test" id="Test" onclick="SearchinIndex();" />
						<input type="text" id="search" class="searchbar form-control" placeholder="想找什麼樣的作品？">
						<select id="select" class="form-control">
							<option value="">所有類型</option>
							<option value="type">作品</option>
							<option value="auth">作者</option>
							<option value="year">年份</option>
						</select>
					</div>
					<p class="title-lead">保障你的著作財產權，讓你創作無後顧之憂</p>
				</div>
			</div> 
			<!-- section1 -->
			<section id="about">
				<div class="container container-section">
					<h3 class="text-center-section">關於本網站  </h3>
					<p class="lead-section text-center-section">
						本網站有幾大特點：ACS 加密技術、私人化安全雲端硬碟、區塊鏈及智能合約。<br><br>
						1. ACS 加密技術：用卡片取代帳號，讓你從此不用擔心帳號被盜或忘記登出。<br>
						2. 私人化安全雲端硬碟：金鑰跟檔案分開儲存，連雲端系統都看不到你的檔案。<br>
						3. 區塊鏈：上傳你的創作證明，讓你沒有後顧之憂。<br>
						4. 智能合約：自動分潤好聰明，讓你不用擔心拿不到錢。<br>
					</p>
				</div>
			</section>
			<!-- section2 -->
			<section id="user-register">
				<div class="container container-section">
					<h1 class="text-center-section">使用者註冊</h1>
					<p class="lead-section text-center-section">
						1. 先去實驗室網站取得一張 card<br>
						2. 用那張 card 向 CA 綁定真實身分<br>
						3. 等平台確定 card 與 真實身分有綁定後，就可以使用平台的服務
					</p>
				</div>
			</section>
			<!-- section3 -->
			<section id="Buyer">
				<div class="container container-section">
					<h1 class="text-center-section">買家使用流程</h1>
					<p class="lead-section text-center-section">
						1. 找到你要的檔案 <br>
						2. 複製合約地址<br>
						3. 支付乙太幣<br>
						4. 下載檔案<br>
					</p>
				</div>
			</section>
			<!-- section4 -->
			<section id="Creator">
				<div class="container container-section">
					<h1 class="text-center-section">創作者使用流程</h1>
					<p class="lead-section text-center-section">
						1. 上傳Hash<br>
						2. 上傳作品<br>
						3. 寫下作品敘述<br>
						4. 寫下錢包位置 <br>
					</p>
				</div>
			</section>
			
		</body>
		
	</html>	