<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ACStest</title>
</head>
<body id="bd">
	<div id="forNewCard"></div>
	<div style="text-align:center;">
		<h1>ACS for Test</h1>
	</div>
	<div  style="text-align:center;padding-top:5vh;">
		<form id="maka-form" method="post" onsubmit="return submitForm(this);">
			
			<br />
			<br />
			<p>Password : </p> <input type="password" name="profilePass" id="profilePass" />
			<br />
			<br />
			<p>              Upload Card : </p> <input type="file" name="profile" id="choosed-file" />
			<input type="hidden" name="validSign" value="1">
			<br />
			<br />
			<br />
			<br />
			<input class="sbm" type="submit" style="font-size: 23px;cursor: pointer;" value='Log in'/>
		</form>
		<br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
</body>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/asmCrypto/0.22.0/asmcrypto.min.js"></script>
<script src="js/PFCCTR.js"></script>
<script src="js/Utility.js"></script>
<script src="MAKA/MAKA.js"></script>
<script src="MAKA/doMAKA.js"></script>
<script src="MAKA/loadCard.js"></script>
<script src="MAKA/usage.js"></script>
</html>