<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="google-site-verification" content="" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body id="bd">
		<div>
			<nav class="navi_bar">
				<div class="navi_logo">
					<a class="navi_logo_tw" href="../">創作內容平台</a>
					<div class="navi_logo_en">Taiwan Copyright Market</div>
				</div>
				<div class="navi_wrap_buttonarea">
					<a href="./"><div class="navi_wrap_button" >首頁</div></a>
					<div class="navi_wrap_vertical"></div>
					<a href='/users' class="loginhide" ><div class="navi_wrap_button gray">逛逛市集</div></a>
					<a href='/creators' class="loginhide" ><div class="navi_wrap_button gray">創作者上傳</div></a>
					<a href='/login' class="loginhide"><div class="navi_wrap_button gray">會員登入</div></a>
					
					<div class="dropdown">
						<div class="dropbtn navi_wrap_button gray">menu 
						<i class="fa fa-caret-down"></i></div>
						<div class="dropdown-content">
							<a href="#about">關於網站</a>
							<a href="#user-register">使用者註冊</a>
							<a href="#Buyer">買家使用</a>
							<a href="#Creator">創作者上傳</a>
						</div>
					</div> 
				</div>   
			</nav>
		</div>
		<br>
		<br>
		<br>
		<br>
		<center>
			<div class="Gray_back" style="width:450px;height:500px;border:3px; border-style:outset;">	
				<div id="forNewCard"></div>
				<div style="text-align:center;">
					<br><h1><font size="8">Login</font></h1>
				</div>
				
				<div  style="text-align:center;padding-top:5vh;">
					
					<form id="maka-form" method="post" onsubmit="return submitForm(this);" >
						<br />
						<div><p><font size="5"> Card  </font></p><center><label class="btn btn-info"><input type="file" name="profile" id="choosed-file" style="display:none" /><font size=4>上傳card</font></label></center></div>
						<br />
						<p><font size="5">Password  </font></p> <input type="password" name="profilePass" id="profilePass" style="width:300px;height:40px" />
						<br />
						<input type="hidden" name="validSign" value="1">
						<br />
						<br />
						<input class="sbm" type="submit" style="font-size: 20px; cursor: pointer; #9999FF outset;background-color:#ADD8E6;width:100px;height:50px;" value='Login'/>
					</form>
					
					<br>
					<br><br><br><br><br>
				</div>
			</div>
		</center>
	</body>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/asmCrypto/0.22.0/asmcrypto.min.js"></script>
	<script src="/js/PFCCTR.js"></script>
	<script src="/js/Utility.js"></script>
	<script src="/MAKA/MAKA.js"></script>
	<script src="/MAKA/doMAKA.js"></script>
	<script src="/MAKA/loadCard.js"></script>
	<script src="/MAKA/usage.js"></script>
</html>