<html>

    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
        <script text="text/script" src="/js/users.js"></script>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script> 
			$(function(){
			  $("#includedContent").load("topBar.html"); 
			});
		</script>
    </head>

    <body>
		<div id="includedContent"></div>
        <div class="container search-area">
			<h1 style="text-align: center;">搜尋作品:</h1>
			<p>Please enter the name of works</p>
			<div class="index-search">
				<form name="monquery" method="post" action="/users" class="search-bar">
					<input class="search-icon" type="image" src="images/search-icon.png"  alt="Submit form" name="Test" id="Test" onclick="SearchinIndex();" />
					<input type="text" class="searchbar form-control" placeholder="keyword" name="tag"/>
					<!--input type="submit"  value="search"/-->
					<select name="key" id="select" class="form-control">
						<option value="">所有類型</option>
						<option value="type">作品</option>
						<option value="auth">作者</option>
						<option value="year">年份</option>
					</select>
				</form>
			</div>
			<ul class="search-result">
			<h1>result<h1>
			<% for(var i=0; i<Persons.length; i++) {%>
			<li class="person">
			<span><a target="_blank"href="/users/detail/?tag=<%=Persons[i].keyword%>"><%= Persons[i].filename %></span>
			</li>
			<% } %>
		</ul>
		</div>
		
    </body>

</html>