<html>

    <head>
        <link rel='stylesheet' href='/css/style.css' />
        <script text="text/script" src="/js/users.js"></script>
        <script src="js/jquery-3.1.1.min.js"></script>
    </head>

    <body>

        <h1>Search area:</h1>
        <p>Please enter the name of works</p>
        <form name="monquery" method="post" action="/users">
            <input type="text" placeholder="keyword" name="tag" />
            <input type="submit"  value="search" />
        </form>
	
        <h1>result<h1>

        <ul class="Persons">
            <% for(var i=0; i<Persons.length; i++) {%>
            <li class="person">
            <span><a target="_blank"href="/users/detail/?tag=<%=Persons[i].keyword%>"><%= Persons[i].filename %></span>
            </li>
            <% } %>
        </ul>
    </body>

</html>